{% extends "!footer.html" %}
{% block extrafooter %}

<div role="contentinfo">
  <p>
    Please contact us for <a href="https://cocalc.com/support/new?hideExtra=true&type=question&subject=A%20question%20about%20CoCalc%20...&body=&title=Ask%20us%20a%20Question!">Questions and Feedback</a>,
    <a href="https://{{ github_host|default("github.com") }}/{{ github_user }}/{{ github_repo }}/">Documentation Repository</a>,
    <a href="https://cocalc.com/policies/">Privacy Policy and ToS</a>.
   </p>
   <p>
    <a href="https://{{ github_host|default("github.com") }}/{{ github_user }}/{{ github_repo }}/{{ theme_vcs_pageview_mode or "blob" }}/{{ github_version }}{{ conf_py_path }}{{ pagename }}{{ page_source_suffix }}" class="fa fa-github"> {{ _('Edit this page on GitHub') }}</a>
  </p>
  <p>
    <strong><a href="https://cocalc.com/app">Start CoCalc</a></strong> – start free, upgrade later!
  </p>
</div>
{% endblock %}
