{# https://github.com/bitprophet/alabaster/blob/master/alabaster/layout.html #}
{% extends "!layout.html" %}
{% block footer %}
  {{ super() }}
  <a class="github cocalcbanner" href="https://cocalc.com/app">
     <img alt="Start CoCalc"
          class="github"
          src="{{ pathto('_static/start-cocalc.png', 1) }}"
          style="position: fixed; top: 0; right: 0; border: 0; height: 75px; width: 75px">
  </a>
{% endblock %}

{# some extras in the head #}
{%- block extrahead %}
  {{ super() }}
  <link rel="stylesheet" href="{{ pathto('_static/custom.css', 1) }}" type="text/css" />
  {% if theme_touch_icon %}
    <link rel="apple-touch-icon" href="{{ pathto('_static/' ~ theme_touch_icon, 1) }}" />
  {% endif %}
  {% if theme_canonical_url %}
    <link rel="canonical" href="{{ theme_canonical_url }}{{ pagename }}.html"/>
  {% endif %}
{% endblock %}

{# this customizes where the main logo links to (not pathto(master_doc)) #}
{% block sidebartitle %}

<a href="{{ pathto('index') }}" class="icon icon-home"> {{ project }}
  <img src="{{ pathto('_static/' + logo, 1) }}" class="logo" alt="Logo"/>
</a>

{% include "searchbox.html" %}

{% endblock %}

{# and here is the same master_doc modification for mobile pages #}
{% block mobile_nav %}
  <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
  <a href="{{ pathto('index') }}">{{ project }}</a>
{% endblock %}