{# https://github.com/bitprophet/alabaster/blob/master/alabaster/layout.html #}
{% extends "!layout.html" %}
{% block footer %}
  {{ super() }}
  <a class="github cocalcbanner" href="https://cocalc.com/app">
     <img alt="Start CoCalc"
          class="github"
          src="{{ pathto('_static/start-cocalc.png', 1) }}"
          style="position: absolute; top: 0; right: 0; border: 0; height: 100px; width: 100px">
  </a>
{% endblock %}

{%- block extrahead %}
  {{ super() }}
  <link rel="stylesheet" href="{{ pathto('_static/custom.css', 1) }}" type="text/css" />
  {% if theme_touch_icon %}
    <link rel="apple-touch-icon" href="{{ pathto('_static/' ~ theme_touch_icon, 1) }}" />
  {% endif %}
  {% if theme_canonical_url %}
    <link rel="canonical" href="{{ theme_canonical_url }}{{ pagename }}.html"/>
  {% endif %}
{% endblock %}